@use './partials/_variables.scss' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~bootstrap/scss/bootstrap.scss";

.ldg-text-black{
    color: $black;
}

#admin{
  height: 100vh;
  overflow: hidden;
  display:flex;

  #sidebar{
     background-color: $blue;
     color: $black;
  }

  #wrapper{
       flex-grow: 1;


       header{
           min-height:70px;

           .img-profile {
               height:2rem;
               width:2rem;
           }
       }
   }
}